{% extends "@Global/template.html.twig" %}

{% block title %}Sobre{% endblock %}


{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-5 col-lg-5">

        <div class="wrap-body">

            <div class="wrap2">

                <div class="btn-group button-menu-wrap">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" id="bt" data-toggle="modal"
                               data-target="#viewModal">
                                Edit</a>
                        <li><a href="#">Remove</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">More...</a></li>
                    </ul>
                </div>

                <h1>Ol&aacute;</h1>

                <h5>{{ "now"|date("d/m/Y H:i:s") }}</h5>

                <div class="wrap-separator"></div>

                <div class="wrap-image">
                </div>

                <div class="wrap-text">
                    <p>
                        Lorem ipsum dolor sit amet, mollit vel, qui velit at vulputate tellus animi dui, potenti arcu
                        quis,
                        turpis diam et quam auctor diam, cursus tellus non venenatis nam. Id nullam, sit gravida
                        fermentum
                        vel
                        pede purus vel. In leo ultrices porttitor, donec leo nullam felis mauris convallis rutrum, nulla
                        aenean
                    </p>
                </div>

            </div>

            <div class="wrap2">

                <div class="btn-group button-menu-wrap">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Remove</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">More...</a></li>
                    </ul>
                </div>

                <h1>Ol&aacute;</h1>

                <h5>{{ "now"|date("d/m/Y H:i:s") }}</h5>

                <div class="wrap-separator"></div>

                <div class="wrap-image">
                </div>

                <div class="wrap-text">

                    <p>
                        Lorem ipsum dolor sit amet, mollit vel, qui velit at vulputate tellus animi dui, potenti arcu
                        quis,
                        turpis diam et quam auctor diam, cursus tellus non venenatis nam. Id nullam, sit gravida
                        fermentum
                        vel
                        pede purus vel. In leo ultrices porttitor, donec leo nullam felis mauris convallis rutrum, nulla
                        aenean
                    </p>

                </div>

            </div>


        </div>

            </div>

        <div class="wrap">

            <div class="btn-group button-menu-wrap">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Remove</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">More...</a></li>
                </ul>
            </div>

            <h1>Ol&aacute;</h1>

            <h5>{{ "now"|date("d/m/Y H:i:s") }}</h5>

            <div class="wrap-separator"></div>

            <p>
                Lorem ipsum dolor sit amet, mollit vel, qui velit at vulputate tellus animi dui, potenti arcu quis,
                turpis
                diam et quam auctor diam, cursus tellus non venenatis nam. Id nullam, sit gravida fermentum vel pede
                purus
                vel. In leo ultrices porttitor, donec leo nullam felis mauris convallis rutrum, nulla aenean sit
                maecenas.
                Dolor molestie curabitur, et enim eleifend interdum phasellus blandit iaculis, sit molestie eleifend in
                wisi
                erat sed, mi donec mi penatibus. Id morbi leo sagittis ac. Suscipit amet lacus, molestie in donec
                sollicitudin senectus fusce faucibus, morbi porta faucibus, suspendisse leo imperdiet, erat ligula
                dictum
                lacus. Id nisl, nec sit fermentum varius ut, et lorem sit ut hendrerit aenean maecenas, etiam elit,
                tortor
                quisque phasellus in euismod sem posuere. Elit ultrices suscipit ut tortor. Ac massa eget euismod turpis
                gravida vitae, risus turpis urna vestibulum at nec, magna congue ac viverra imperdiet dictum lectus.
                Tortor
                lobortis sodales fringilla dolor magna vestibulum, commodo suspendisse egestas in neque rutrum massa,
                massa
                non nulla etiam wisi.
                Amet scelerisque enim dignissim. At ut tempus urna sapien in taciti. At ipsum lacus. Gravida in arcu
                ante,
                donec nec in velit nam tortor feugiat. Eget luctus orci in, fringilla dignissim, ac non, nunc ut, vel
                etiam.
                Sem mauris hymenaeos lacus, amet eget, vulputate ac, lacus sed sed, velit aliquet velit suspendisse.
                Maecenas cras vestibulum dolorem sit pellentesque, a pharetra vivamus. At et fringilla, libero augue at
                imperdiet pellentesque, sagittis elit penatibus ante vitae. Nibh a nunc in tempor quis est, magna tellus
                pede elit, scelerisque fusce urna lectus gravida mollis, donec felis dictum.
                Sit egestas inceptos, et nulla libero, inceptos amet. Arcu mattis eget in volutpat viverra, curae wisi
                adipiscing augue donec, urna wisi velit eu nam ut pellentesque, dignissim at, porttitor fringilla. Donec
                semper, consequat in consequat lobortis lorem nunc elit, diamlorem non donec, sagittis risus massa vitae
                rutrum libero. Libero ac primis libero arcu volutpat ac, rutrum erat elit, vestibulum erat laoreet,
                rhoncus
                nulla mauris nulla, massa voluptate ac sem risus. Sapien ut scelerisque turpis augue praesent
                vestibulum,
                odio elit eos sem dolor sed et. Tincidunt ligula blandit vitae in, nec ullamcorper lectus molestie,
                turpis
                sit felis neque vitae ipsum, mollis erat volutpat quis, wisi tincidunt nec. Urna nam magna a.
            </p>

        </div>

        <div class="wrap"><h1>Ol&aacute;</h1><h5>{{ "now"|date("d/m/Y H:i:s") }}</h5>

            <p>
                Lorem ipsum dolor sit amet, mollit vel, qui velit at vulputate tellus animi dui, potenti arcu quis,
                turpis
                diam et quam auctor diam, cursus tellus non venenatis nam. Id nullam, sit gravida fermentum vel pede
                purus
                vel. In leo ultrices porttitor, donec leo nullam felis mauris convallis rutrum, nulla aenean sit
                maecenas.
                Dolor molestie curabitur, et enim eleifend interdum phasellus blandit iaculis, sit molestie eleifend in
                wisi
                erat sed, mi donec mi penatibus. Id morbi leo sagittis ac. Suscipit amet lacus, molestie in donec
                sollicitudin senectus fusce faucibus, morbi porta faucibus, suspendisse leo imperdiet, erat ligula
                dictum
                lacus. Id nisl, nec sit fermentum varius ut, et lorem sit ut hendrerit aenean maecenas, etiam elit,
                tortor
                quisque phasellus in euismod sem posuere. Elit ultrices suscipit ut tortor. Ac massa eget euismod turpis
                gravida vitae, risus turpis urna vestibulum at nec, magna congue ac viverra imperdiet dictum lectus.
                Tortor
                lobortis sodales fringilla dolor magna vestibulum, commodo suspendisse egestas in neque rutrum massa,
                massa
                non nulla etiam wisi.
                Amet scelerisque enim dignissim. At ut tempus urna sapien in taciti. At ipsum lacus. Gravida in arcu
                ante,
                donec nec in velit nam tortor feugiat. Eget luctus orci in, fringilla dignissim, ac non, nunc ut, vel
                etiam.
                Sem mauris hymenaeos lacus, amet eget, vulputate ac, lacus sed sed, velit aliquet velit suspendisse.
                Maecenas cras vestibulum dolorem sit pellentesque, a pharetra vivamus. At et fringilla, libero augue at
                imperdiet pellentesque, sagittis elit penatibus ante vitae. Nibh a nunc in tempor quis est, magna tellus
                pede elit, scelerisque fusce urna lectus gravida mollis, donec felis dictum.
                Sit egestas inceptos, et nulla libero, inceptos amet. Arcu mattis eget in volutpat viverra, curae wisi
                adipiscing augue donec, urna wisi velit eu nam ut pellentesque, dignissim at, porttitor fringilla. Donec
                semper, consequat in consequat lobortis lorem nunc elit, diamlorem non donec, sagittis risus massa vitae
                rutrum libero. Libero ac primis libero arcu volutpat ac, rutrum erat elit, vestibulum erat laoreet,
                rhoncus
                nulla mauris nulla, massa voluptate ac sem risus. Sapien ut scelerisque turpis augue praesent
                vestibulum,
                odio elit eos sem dolor sed et. Tincidunt ligula blandit vitae in, nec ullamcorper lectus molestie,
                turpis
                sit felis neque vitae ipsum, mollis erat volutpat quis, wisi tincidunt nec. Urna nam magna a.
            </p>

        </div>
    </div>

    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">View About</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="idAbout">
                    <input type="hidden" name="active" id="activeAbout">
                    <div class="form-group">
                        <label for="nameAbout" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="nameAbout" name="name">
                    </div>
                    <div class="form-group">
                        <label for="descriptionAbout" class="control-label">Description:</label>
                        <textarea class="form-control" id="descriptionAbout" name="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
