{% extends "::base.html.twig" %}

{% block title %}Sobre{% endblock %}

{% block body %}

    <table class="table" border="1">
        <tbody>
        {% for reg in about %}

            <tr>
                <td>{{ reg.name|upper }}</td>
                <td>{{ reg.description }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="glyphicon-ice-lolly" href="{{ path('global_formAbout') }}">New Row...</a>

{% endblock %}
