{% extends "::base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

    {% for reg in about %}

        <h1>{{ reg.name }}</h1>
        <p>{{ reg.description }}</p>

    {% endfor %}

{% endblock %}
